// media query manager
@mixin respond($breakpoint) {
	@if $breakpoint == medium {
		@media (min-width: 768px) {
			@content;
		}
	}

	@if $breakpoint == large {
		@media (min-width: 992px) {
			@content;
		}
	}
}

// colors manager
// primary colors
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

// neutral colors
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// fonts manager
$font-basic: 'Montserrat', sans-serif;
$font-accent: 'Fraunces', serif;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: $cream;
	color: $dark-grayish-blue;
	font-family: $font-basic;
	font-size: 1.4rem;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

button {
	font: inherit;
	border: none;
	cursor: pointer;
}

a {
	color: $dark-cyan;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: border-color 0.3s;

	&:hover {
		border-color: $dark-grayish-blue;
	}
}
