@use './base' as b;

.card {
	display: flex;
	flex-direction: column;
	margin-top: 2.8rem;
	max-width: 92vw;
	border-radius: 1rem;
	overflow: hidden;

	@include b.respond(medium) {
		flex-direction: row;
		max-width: 60rem;
		max-height: 45rem;
	}

	&__image-container {
		@include b.respond(medium) {
			flex-basis: 50%;
			border-top-left-radius: 1rem;
			border-bottom-left-radius: 1rem;
			overflow: hidden;
		}
	}

	&__details {
		padding: 2.6rem 2.45rem 2.4rem;
		background-color: b.$white;

		@include b.respond(medium) {
			flex-basis: 50%;
		}
	}

	&__img {
		height: 100%;
		object-fit: cover;
		overflow: hidden;
	}

	&__price-box {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
}
