@use './base' as b;

.wrapper {
	display: flex;
	justify-content: center;

	@include b.respond(medium) {
		align-items: center;
		height: calc(100vh - 3vh);
	}
}

.footer {
	padding: 3em 1em;
	// position: relative;
	// // bottom: 1rem;
	// // height: 3vh;
	// font-size: 1.4rem;
	// z-index: -10;
}
